# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. ggplot
2. seaborn
3. Pandas

In [28]:
| Data Science Tools |
| ---- |
| Jupyter Notebook |
| RStudio |
| Python |

#For some reason it didn't work...

SyntaxError: invalid syntax (373443026.py, line 1)

In [32]:
# So I've tried this other way

import pandas as pd

tools = {'Data Science Tools': ['Jupyter Notebook', 'RStudio', 'Python']}

df = pd.DataFrame(tools)

df

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2             Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60
hours = (200//60)

minutes = (200/60)-(200//60)
minutes = round(minutes,2)

hours_plus_minutes = hours + minutes

In [19]:
Final_result = f"200 minutes are {hours_plus_minutes}h"
print(Final_result)

200 minutes are 3.33h

Objectives:

- List popular languages for Data Science
- List popular Libraries used by Data Scientists
- Solve arithmetic expressions

## Author
Helen Navarro